html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: '';
  background: #60a9ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#60a9ff),to(#4394f4));
  background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.container {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
	padding-left:50px;
	padding-right:50px;
}

.purchase-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
}

.purchase-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.purchase-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .purchase-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .purchase-plan:last-child {
    border-right: none;
  }
}

.purchase-img {
  margin-bottom: 25px;
  max-width: 50%;
}

.purchase-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.purchase-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.purchase-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.purchase-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.purchase-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.purchase-per {
  color: #777e86;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.purchase-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.purchase-button:hover,
.purchase-button:focus {
  background-color: #e1f1ff;
}

.purchase-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.purchase-button.is-featured:hover,
.purchase-button.is-featured:active {
  background-color: #269aff;
}